.bg-atto3{
    background-color: $bg-byd;
}

//main
.vid-atto3{
    height: 70vh;
    overflow: hidden;

    .text-vidatto3{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
        object-position: top;
        text-shadow: 2px 2px 6px #000;
        // gap: 16px;

        h1{
            color: white;
            z-index: 9999;
            font-size: 5.6rem;
            font-weight: bold;
        }

        h3{
            color: white;
        }

        p{
            font-size: .9rem;
            color: white;
        }

        a{
            text-shadow: none;
            padding: 20px;
            font-size: 1.4rem;
            font-weight: 560;
            border: solid 1.5px !important;
            @include botonbyd(#efefef);
        }
    }
}

//section  1
.cont-spectsatto3{
    background-image:linear-gradient(#0000002e, #000000b7) ,url('https://res.cloudinary.com/dfnton7oq/image/upload/v1717275882/byd%20proyect%20dw/atto3-spects_bngfqr.jpg');
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

    .cont-row-specsatto3{
        display: flex;
        justify-content: center;
        align-items: end;
        z-index: 1;
        height: 100%;

        .cont-speed-atto3{
            display: flex;
            align-items: center;
            flex-direction: column;
            border-right: solid 2px #ffffff;
            padding: 0 5.0521vw;
            margin-bottom: 20px;
        }

        .cont-km-atto3{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 0 5.0521vw;
            border-right: solid 2px #ffffff;
            margin-bottom: 20px;
        }

        .cont-energy-atto3{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 0 5.0521vw;
            margin-bottom: 20px;
        }

        p{
            font-size: 1.2rem;
            color: white;

            strong{
                font-size: 4rem;
                text-shadow: 2px 2px 6px #000;
            }
        }
    }
}

//section 2
.cont-motoratto3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;

    .cont-txt-atto3{
        width: 600px;
        margin-left: 3rem;

        p{
            color: white;
            font-size: 1.4rem;
        }
    }

    .cont-img-atto3{
        display: flex;
        justify-content: center;
        
        img{
            width: 55%;
        }

    }




}

//section 3
.cont-imgatto3{
    position: relative;

    img{
       
        width: 100%;
        height: auto;
    }

    h1{
        font-size: 4rem;
        font-weight: 560;
        padding: 2.5rem;
        position: absolute;
        top: 0;
        left: 20%;
    }

    p{
        position: absolute;
        font-size: 1.4rem;
        top: 17%;
        left: 17%;
    }
}

@media (max-width: 1430px){

    .cont-spectsatto3 .cont-row-specsatto3 p{

        strong{
            font-size: 3rem;
        }
    }

    .cont-imgatto3{

        h1{
            left: 12%;
            font-size: 3.5rem;
        }

        p{
            left: 6%;
            top: 20%;
        }
    }
}

@media (max-width: 1000px){

    .cont-spectsatto3 .cont-row-specsatto3 p{
        font-size: 1rem;
        strong{
            font-size: 2.5rem;
        }
    }

    .cont-imgatto3{

        h1{
            left: 7%;
            font-size: 2.7rem;
        }

        p{
            left: 1%;
            top: 28%;
            text-align: center;
        }
    }
}

@media (max-width: 735px){

    .vid-atto3 .text-vidatto3 h1{
        text-align: center;
        font-size: 4.5rem;
    }

    .vid-atto3 .text-vidatto3 p{
        text-align: center;
    }

    .cont-spectsatto3 .cont-row-specsatto3{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .cont-spectsatto3 .cont-row-specsatto3 .cont-speed-atto3{
        border: none;
    }

    .cont-spectsatto3 .cont-row-specsatto3 .cont-km-atto3{
        border: none;
    }

    .cont-spectsatto3 .cont-row-specsatto3 p{
        font-size: 1rem;
        strong{
            font-size: 2.5rem;
        }
    }

    .cont-imgatto3{

        h1{
            left: 6%;
            text-align: center;
            font-size: 2.2rem;
        }

        p{
            display: none;
        }
    }
}

@media (max-width: 480px){
    .cont-imgatto3{

        h1{
            display: none;
        }
    }
}
