.bg-contacto{

    background-color: $bg-byd;

}

.main-bg-contacto{
    background-image: url('https://res.cloudinary.com/dfnton7oq/image/upload/v1717213277/byd%20proyect%20dw/byd_song_ahgjoh.jpg');
    background-size: cover;
    height: 920px;

.cont-form{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;

    form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 9px;
        margin-left: 17rem;
        width: 420px;
        height: auto;
        backdrop-filter:blur(17px) contrast(58%);
        

        .top-form{
            display: flex;
            background-color: #000000a0;
            justify-content: center;
            width: 100%;
            padding: 32px;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
            h1{
                color: white;
                text-align: center;
                font-size: 2.8rem;
                font-weight: bold;
            }
        }

        .bot-form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 40px;

            .form-nomap{
                display: flex;
                margin: 6px;
                gap: 16px;

                input{
                    background-color: transparent;
                    border: none;
                    border-bottom: solid 1px;
                    padding: 0;
                    margin-top: 12px;
                    line-height: 50px;
                    color: #efefef;
                    outline: none;
                    width: 180px;
                    font-size: 1.1rem;
                    resize: none;
    
                    &:active{
                        background-color: transparent;
                    }
    
    
                    &:focus{
                        background-color: transparent;
                        color: white;
                    }
                }
                input::placeholder{
                    color: #edecec;
                }
            }

            .form-inputs{
                display: flex;
                flex-direction: column;
                gap: 10px;

                input{
                    background-color: transparent;
                    border: none;
                    border-bottom: solid 1px;
                    padding: 0;
                    margin-top: 12px;
                    line-height: 50px;
                    color: #efefef;
                    outline: none;
                    width: 376px;
                    font-size: 1.1rem;
                    resize: none;
    
                    &:active{
                        background-color: transparent;
                    }
    
    
                    &:focus{
                        background-color: transparent;
                        color: white;
                    }
    
                }

                input::placeholder{
                    color: #edecec;
                }

                textarea{
                    margin-top: 20px;
                    resize: none;
                    background-color: transparent;
                    outline: none;
                    font-size: 1.1rem;
                    color: #efefef;
                    border: none;
                    border-bottom: solid 1px;
                }

                p{
                    padding: 4px;
                    align-self: start;
                    color: #efefef;
                    font-size: .9rem;
                    width: 350px;
                    text-shadow: 2px 2px 8px #000000ca;
                }
            }

            .checks-form{
                margin-top: 10px;
                display: flex;
                gap: 16px;
                
                input{
                    border-radius: .0em;
                    background-color: transparent;
                    border: solid 1px #efefef;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;

                    &:focus{
                        background-color: transparent;
                        color: transparent;
                    }

                    &:checked{
                        background-color: transparent;
                        color: transparent;
                    }
                }

                label{
                    color: #efefef;
                    font-size: .7rem;
                    width: 280px;
                    text-shadow: 2px 2px 8px #000000ca;
                }
            }

            a{
                margin-top: 20px;
                text-decoration: none;
                color: white;
                border: solid 1px;
                padding: 4px;
                width: 180px;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 400;
                transition: .4s ease-in-out;

                &:hover{
                    background-color: white;
                    color: black;
                    border: solid 1px #fff;
                }
            }
        }
    }
}
}

@media (max-width:1200px){
    .main-bg-contacto .cont-form{
        justify-content: center;
        margin: auto;
    }

    .main-bg-contacto .cont-form form{
        margin: auto;
        width: 400px;
    }
}

@media (max-width: 475px){
    .main-bg-contacto .cont-form form .bot-form{
        padding: 10px;
    }

    .main-bg-contacto .cont-form form .bot-form .form-nomap{

        input{
            width: 150px;
        }
    }

    .main-bg-contacto .cont-form form{
        width: 362px;
    }

    .main-bg-contacto .cont-form form .bot-form .form-inputs{
        align-items: center;
        input{
            width: 333px;
        }

        textarea{
            width: 333px;
        }
    }
}