.bg-nosotros{
    background-color: $bg-byd;
}

//main
.cont-intro-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img{
        width: 100%;
        height: auto;
        z-index: -1;
        filter: brightness(60%);
    }

    .cont-texto-intro-nosotros{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        position: absolute;
        height: 100%;
        padding: 4rem;

        h1{
            font-size: 4rem;
            font-weight: 560;
            color: #f6f6f6;
            text-align: center;
        }

        p{
            font-size: 1.2rem;
            color: #dbdbdb;
            width: 1220px;
            text-align: center;
        }
    }
}

//section 1
.cont-info-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    
    .textinfo-nosotros{
        display: flex;
        flex-direction: column;
        width: 900px;
        
        h1{
            color: #dbdbdb;
            font-weight: 560;
        }

        p{
            font-size: 1.2rem;
            color: #dbdbdb;
        }
    }

    img{
        width: 40vw;
        height: auto;
    }
}

// section 2
.cont-img-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


    img{
        width: 100%;
        height: auto;
        z-index: -1;
    }

    .text-banner-nosotros{
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: absolute;
        height: 100%;

        h1{
            padding: 2rem;
            font-size: 4rem;
            font-weight: 560;
            color: #dbdbdb;
        }

        p{
            font-size: 1.2rem;
            color: #dbdbdb;
            width: 820px;
            text-align: center;
        }
    }
}

@media (max-width:1300px){
    .cont-intro-nosotros .cont-texto-intro-nosotros h1{
        font-size: 3.2rem;
    }
    .cont-intro-nosotros .cont-texto-intro-nosotros p{
        font-size: 1rem;
        width: auto;
    }
}

@media (max-width: 1100px){
    .cont-info-nosotros{
        flex-wrap: wrap;
    }

    .cont-intro-nosotros .cont-texto-intro-nosotros h1{
        text-shadow: 2px 2px 6px #000;
    }
    .cont-intro-nosotros .cont-texto-intro-nosotros p{
        text-shadow: 2px 2px 6px #000;
    }

    .cont-info-nosotros .textinfo-nosotros h1{
        text-align: center;
        text-shadow: 2px 2px 6px #000;
    }

    .cont-info-nosotros .textinfo-nosotros p{
        text-align: center;
        text-shadow: 2px 2px 6px #000;
    }

    .cont-img-banner .text-banner-nosotros p{
        width: auto;
    }
}

@media (max-width: 700px){
    .cont-intro-nosotros .cont-texto-intro-nosotros{
        justify-content: center;
    }
    .cont-intro-nosotros .cont-texto-intro-nosotros h1{
        font-size: 2.5rem;
    }
    .cont-intro-nosotros .cont-texto-intro-nosotros p{
        display: none;
    }

    .cont-img-banner .text-banner-nosotros h1{
        text-shadow: 2px 2px 6px #000;
    }

    .cont-img-banner .text-banner-nosotros h1{
        font-size: 2.4rem;
    }

    .cont-img-banner .text-banner-nosotros p{
        font-size: 1rem;
        text-shadow: 2px 2px 6px #000;
    }
}

@media (max-width: 460px){
    .cont-intro-nosotros .cont-texto-intro-nosotros{
        padding: 0;
    }
    .cont-img-banner .text-banner-nosotros p{
        font-size: .8rem;
    }
}